<%- include('../../partials/header.ejs') %>
    <div class="container my-5 px-5">
            <div class="px-lg-5">
                <div class="card card-body">
                <section>
                    <h3><%= post.title  %> </h3>
                    <div class="d-flex">
                        <small class="py-1">
                            <%= moment (post.createdAt) %> | <%= post.readTime %>
                        </small>
                        <% if(user) { %>
                            <span class="ml-auto bookmark" data-post="<%= post._id %> ">
                                <% if(bookmarks.includes(post._id)) { %>
                                    <i class="fa fa-bookmark" aria-hidden="true"></i>
                                    <% } else { %>
                                        <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                        <% } %>
                            </span>
                            <% } %>
                    </div>
                    <% if(post.thumbnail){%>
                        <img src="<%= post.thumbnail %>" class="card-img-top" height="300">
                        <%} %>
                    <section class="py-2">
                        <%- post.body %> 
                    </section>
                    
                </section>
            </div>
            </div>
        </div>
<%- include('../../partials/footer.ejs') %>
<script src="/scripts/links.js"></script>
</body>
</html>